<ion-header>
    <ion-toolbar>
        <ion-title>{{'position.clipboard.title' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="btnCloseClick()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row *ngIf="showSpectatorLink=='true'">
            <ion-col>
                <ion-button (click)="copySpectatorlink()" color="light" size="large" expand="full">
                    <ion-icon slot="start" name="clipboard-outline"></ion-icon>
                    <ion-label>{{'home.link-viewer' | translate}}</ion-label>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="showAnalysisLink=='true'">
            <ion-col>
                <ion-button (click)="copyAnalysislink()" color="light" size="large" expand="full">
                    <ion-icon slot="start" name="flask-outline"></ion-icon>
                    <ion-label>{{'home.analysis-link' | translate}}</ion-label>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="copyFen()" color="light" size="large" expand="full">
                    <ion-icon slot="start" name="clipboard-outline"></ion-icon>
                    <ion-label>FEN</ion-label>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="showPGN=='true'">
            <ion-col>
                <ion-button (click)="copyPgn()" color="light" size="large" expand="full">
                    <ion-icon slot="start" name="clipboard-outline"></ion-icon>
                    <ion-label>PGN</ion-label>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="saveImg()" color="light" size="large" expand="full">
                    <ion-icon slot="start" name="save"></ion-icon>
                    <ion-label>IMG</ion-label>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="copyImg()" color="light" size="large" expand="full">
                    <ion-icon slot="start" name="clipboard-outline"></ion-icon>
                    <ion-label>IMG BBCode</ion-label>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>