<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'home.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle color="medium">{{ 'home.get-started' | translate }}</ion-card-subtitle>
      <ion-card-title color="dark">{{ 'home.presentation' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ 'home.description' | translate }}</p>
      <ion-button *ngIf="!gameCreated" color="light" size="default" expand="full" attr.aria-label="{{ 'home.new-game' | translate }}" (click)="newGame()">
        <ion-label>{{ 'home.new-game' | translate }}</ion-label>
      </ion-button>

      <ion-list *ngIf="gameCreated">
        <ion-item>
          <ion-label><a href="https://casual-chess.web.app/position/{{game.wid}}">{{ 'home.link-white-player' | translate }}</a></ion-label>
          <ion-icon color="medium" name="clipboard" style="cursor:pointer" (click)="copyWhiteLink()"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label><a href="https://casual-chess.web.app/position/{{game.bid}}">{{ 'home.link-black-player' | translate }}</a></ion-label>
          <ion-icon color="medium" name="clipboard" style="cursor:pointer" (click)="copyBlackLink()"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label><a href="https://casual-chess.web.app/position/{{game.vid}}">{{ 'home.link-viewer' | translate }}</a></ion-label>
          <ion-icon color="medium" name="clipboard" style="cursor:pointer" (click)="copyViewerLink()"></ion-icon>
        </ion-item>
      </ion-list>

      <ion-grid>
        <ion-row *ngFor="let g of games; trackBy: trackFunc">
          <ng-container *ngIf="g.wpkey == playerKey || g.bpkey == playerKey">
            <ion-col size="4"><a href="/position/{{g.wpkey == playerKey ? g.wid : g.bid}}"><ion-label color="medium">{{g.timestamp.toDate() | date: 'dd/MM/yyyy hh:mm:ss'}}</ion-label></a></ion-col>
            <ion-col size="1"><a href="/position/{{g.wpkey == playerKey ? g.wid : g.bid}}"><img *ngNoCheck class="thumbnail" ngxLazy="/assets/pieces/{{configuration.pieceTheme}}/{{g.wpkey == playerKey ? 'w' : 'b'}}P.svg" /></a></ion-col>
            <ion-col size="4"><a href="/position/{{g.wpkey == playerKey ? g.wid : g.bid}}"><ion-label color="medium">{{g.statusDescription}}</ion-label></a></ion-col>
            <ion-col size="1"><a href="/position/{{g.wpkey == playerKey ? g.wid : g.bid}}"><ion-icon color="medium" slot="icon-only" name="{{ g.status == 'WWI' || g.status == 'BWI' || g.status == 'DRA' || g.status == 'WRE' || g.status == 'BRE' ? 'eye' : 'play'}}"></ion-icon></a></ion-col>
            <ion-col size="1"><ion-icon color="medium" name="trash-outline" style="cursor:pointer" (click)="delete(g)"></ion-icon></ion-col>
          </ng-container>
          <ng-container *ngIf="g.wpkey != playerKey && g.bpkey != playerKey">
            <ion-col size="4"><a href="/position/{{g.vid}}"><ion-label color="medium">{{g.timestamp.toDate() | date: 'dd/MM/yyyy hh:mm:ss'}}</ion-label></a></ion-col>
            <ion-col size="1"><a href="/position/{{g.vid}}"><ion-icon color="medium" style="zoom:2.0;" name="eye-outline"></ion-icon></a></ion-col>
            <ion-col size="4"><a href="/position/{{g.vid}}"><ion-label color="medium">{{g.statusDescription}}</ion-label></a></ion-col>
            <ion-col size="1"><a href="/position/{{g.vid}}"><ion-icon color="medium" slot="icon-only" name="eye"></ion-icon></a></ion-col>
            <ion-col size="1"><ion-icon color="medium" name="trash-outline" style="cursor:pointer" (click)="removeStar(g)"></ion-icon></ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
